header {
  background-color: #ffddcc;
  max-width: 580px;
  margin: 5em auto;
}

footer {
  background-color: #ffddcc;
  color: white;
  max-width: 580px;
  margin: 5em auto;
}

body {
  font-family: "Open-Sans", sans-serif;
  font-size: 14px;
  background-color: #ffddcc;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  letter-spacing: 0.7px;
}

p {
  margin: 1rem 0;
}

ul {
    list-style-type: none; /* Remove the default dot */
}

ul li:before {
    content: '- '; /* Change the content to a dash and a space */
}



.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 62px);
  margin: 0;
  padding: 0;
}

.h1 {
  max-width: 580px;
  margin: 1em auto;
}

.h2 {
  margin-top: 1em;
}

.h3 {
  margin-top: 0.8em;
}

.c_exp {
  max-width: 580px;
  margin: 1em auto;

}

.c_exp a.clicked {
  cursor: pointer;
  text-decoration: underline;
}

.c_exp a.clicked_less {
  cursor: pointer;
}


.bold {
  font-weight: bold;

}

/* IMAGES IMAGES */
.image-container {
  max-width: 580px; /* Adjust the width as needed */
  margin: 1em auto; /* Adjust margin for spacing */
}

figure {
  margin: 0;
}

figure img {
  display: block;
  width: 100%; /* Make each image occupy the full width of the container */
  height: auto; /* Maintain aspect ratio */
  margin-top: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Example shadow values */

}

figcaption {
  font-size: 12px;
  margin-top: 0.5em; /* Adjust spacing between image and title */
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  header,
  footer,
  .content,
  .h1,
  .c_exp,
  .image-container {
    max-width: 90%;
    margin: 3em auto;
  }

  body {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .h1 {
    margin: 0.5em auto; /* Adjust margins for smaller headings */
  }
